@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model ImageGallery.Client.ViewModels.GalleryIndexViewModel

@{
    var imageGalleryApiRoot = Configuration["ImageGalleryAPIRoot"]?.TrimEnd('/') ?? string.Empty;
}

<div class="bottomMarginDefault">

</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Images)
        {
            <div class="pull-left col-md-4">
                <div>
                    <img src="@($"{imageGalleryApiRoot}/images/{item.FileName}")" />
                </div>
                <div>
                    <div class="h6 topMarginSmall" style="margin-top: 12px;">@item.Title</div>
                    <div class="bottomMarginDefault" style="margin-bottom: 16px;">
                        <a asp-action="EditImage" asp-controller="Gallery" asp-route-id="@item.Id">Edit title</a>
                        <span> | </span>
                        <a asp-action="DeleteImage" asp-controller="Gallery" asp-route-id="@item.Id">Delete title</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
