@page
@model MySolution.IdentityServer.Pages.Account.AccessDeniedModel

<div class="p-3 bg-body-tertiary border rounded-3 text-center">
    <h2 class="text-danger">
        <i class="bi bi-ban"></i><br />
        Access Denied
    </h2>
    <span>You do not have permission to access that resource.</span>
</div>
