@model MySolution.IdentityServer.Pages.Admin.Components.ServerSideSessions.ServerSideSessionsViewModel

<div class="card h-100 text-bg-light">
    <h5 class="card-header">
        <i class="bi bi-hourglass-split me-2"></i>
        Server Side Sessions
        <a asp-page="/ServerSideSessions/Index" class="float-end">
            <i class="bi bi-binoculars"></i>
            <span class="d-none">View Server Side Sessions</span>
        </a>
    </h5>
    <div class="card-body">
        <p class="display-2 mb-0 text-center">
            @Model.Count
        </p>
    </div>
</div>
